<div class="nav">
  <div class="nav-item">
    <a href="#" class="logo">the.weather</a>
  </div>
  
  <div class="nav-item">
    <div class="search-bar">
      <input type="text" [(ngModel)]="cityName" placeholder="Search for a city">
      <fa-icon [icon]="search" (click)="getTemp()"></fa-icon>
    </div>
  </div>
</div>
<div class="container" [style.background-image]="bgColor">
  <div class="weather-container">
    <div class="weather">
      <div class="temp">
        {{weather}}°C
      </div>
      <div class="city-details">
        <div class="city-name">
          {{city}}
        </div>
        <div class="date">
          {{time}} - {{date}}
        </div>
      </div>
      <div class="weather-type">
        Cloudy
      </div>
    </div>
  </div>
</div>