/* You can add global styles to this file, and also import other style files */
:root {
    --on-primary: aliceblue;
}

body, html {
    display: block;
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Dekko';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}